body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f3efe0;
}

h1{
    text-align: center;
}

h2,
h3 {
    background-color: #ff6201;
    color: white;
    text-align: center;
}

h3{
    background-color: #E57C04;
}

.recipes-list{
    background-color:azure;
}

.recipes-list ul{
    padding: 0px;
    display: block;
    width:fit-content;
    margin: 20px auto;

}



.recipes-list li{
    display: inline-block;
    padding: 16px;
    background-color:#ff6201;
}